/* 
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
*/

*{
    margin: 0;
    padding: 0;
}



/* First Section */

.header {
    background-image: linear-gradient(180deg, #070211, rgba(7, 2, 17, 0.00)), url('../resources/Banner-Image.png');
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: auto;
    margin-top: 48px;
}

.banner-1 {       /* div */
    color: #FFF;
    font-family: 'Merriweather', serif;
    text-align: center;
    max-width: 632px;
    padding: 177px 344px;
}

.intro-1 {      /* Happy New Year */
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

.intro-2 {      /* New Year Party Celebration */
    font-size: 72px;
    font-weight: 900;
}



/* Second Section */

.banner-2 {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.title-1 {      /* 65% OFF */
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 48px;
}

.title-2 {      /* OUR HOLIDAY DEALS ARE BETTER */
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.title-3 {      /* ALL CATEGORIES */
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 48px;
}


/* Third Section */

.banner-3{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    margin: auto;
    margin-top: 120px;
    border-radius: 16px;
    display: flex;
}

.party-welcome {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    width: 642px;
    line-height: 88px;
    margin-bottom: 24px;
    padding-top: 126px;
    padding-left: 126px;
}

.party-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    width: 697px;
    line-height: 30px;
    margin-bottom: 48px;
    padding-left: 126px;
}

.button {
    color: #FFF;
    background-color: transparent;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding-left: 158px;
    border: 0px;
}

.img-2024 {
    padding-top: 68px;
    padding-left: 39px;
}

.img-2024 img {
    mix-blend-mode: lighten;
}



/* Fourth Section */

